.home {
  grid-template-columns: 4.6fr 11.68fr;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

.home__img {
  height: 100%;
  object-fit: contain;
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
@keyframes animate {
  0%{
    border-radius:60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius:30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100%{
    border-radius:60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home__data {
  max-width: 600px;
  margin-inline: auto;
  padding: 20px;
}

.home__title {
  font-size: var(--h1-font-size);
  line-height: 1.24;
}

.home__title span {
  color: var(--first-color);
  white-space: nowrap;
  position: relative;
  display: inline-block;
  animation: bounceAnimation 6s linear;
}



.home__title::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--first-color);
}

.home__description {
  line-height: 2;
  margin-block: 15px 25px;
}
