.home {
  grid-template-columns: 4.6fr 11.68fr;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

.home__img {
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 0 8px;
}

.home__data {
  max-width: 600px;
  margin-inline: auto;
  padding: 20px;
}

.home__title {
  position: relative;
  font-size: var(--h1-font-size);
  line-height: 1.24;
}

.home__title span {
  color: transparent;
  animation: fadeInColor 4s linear forwards;
  white-space: nowrap;
}

@keyframes fadeInColor {
  0% {
    color: transparent;
  }
  100% {
    color: var(--first-color);
  }
}

.home__title::before {
 
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: var(--first-color);
  animation: fadeInWidth 3s linear forwards;
}

@keyframes fadeInWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.home__description {
  line-height: 2;
  margin-block: 15px 25px;
}
